@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "rsuite/dist/rsuite.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
}

.button {
  cursor: pointer;
}
body::-webkit-scrollbar {
  display: none;
}

:root {
  --color-primary: #40c057;
  --color-secondary: #51cf66;
  --color-tertiary: #69db7c;
  --color-white: #fff;
  --color-black: #333;
  --color-gray: #555;
  --color-light-gray: #999;
}
